.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 10vmin;
  pointer-events: none;
}

.chart {
  height: 60vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App p {
  font-size: 15px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

p {
  /* background-color: red; */
  /* color: green; */
}
body {
  /* background-color: maroon; */
  /* color: blue; */
}
button {
  color: purple;
}
button:hover {
  color: red;
}

img#chart1 {
  padding: 10px;
  border-color: blue;
  background-color: grey;
  width: 350px;
  height: 400px;
}

.color-box {
  border: 1em solid black;
  height: 90%;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}

.parent {
  background: grey;
  padding: 20px;
  border: 1px black solid;

}
.child {
  background: white;
  padding: 10px;
  border: 3px black solid;

}

.opacitytest {
  background-color: black;
}

.bar {
  height: 4em;
  padding-top: 2em;
  opacity: 0.1;
  background: black;
  border-top: 3px solid #ccc;
  border-bottom: 3px solid #ccc;
  /* margin-top: 5.0em; */
}

h2.ontop {
  position: relative;
  top: 3.5em;
}

.container > div {
  display: inline-block;
  height: 100px;
  width: 100px;
  background: #d58a3c;
}
div.opacity70 {
  opacity: 0.7;
}

div.opacity60 {
  opacity: 0.6;
}

div.opacity50 {
  opacity: 0.5;
}

.checkbox {
  display: flex;
  align-items: center;
  transform: translate(60px);

  margin: 10px;
  &__label {
    font-size: 24px;
    font-weight: 700;
    color: white;
  }
  &__icon {
    width: 50px;
    cursor: pointer;
    color: white;

  }
}


a {
  color: blue;
}

a:hover {
  color: purple;
}
a:visited {
  color: maroon;
}


/* h4.super {
  color: purple;
}*/

/* h2 {
  color: yellow;
} */

#hero {
  color: red;
}

.super {
  color: blue;
}

div#hero > h4 {
  color: pink;
}
