.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 10vmin;
  pointer-events: none;
}

.chart {
  height: 60vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App p {
  font-size: 15px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

p {
  /* color: green; */
}
body {
  /* color: blue; */
}
button {
  color: purple;
}
button:hover {
  color: red;
}

img#chart1 {
  padding: 10px;
  border-color: blue;
  background-color: grey;
  width: 350px;
  height: 400px;
}

.color-box {
  border: 1em solid black;
  height: 90%;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}

.parent {
  background: grey;
  padding: 20px;
  border: 1px black solid;

}
.child {
  background: white;
  padding: 10px;
  border: 3px black solid;

}

.checkbox {
  display: flex;
  align-items: center;
  transform: translate(60px);

  margin: 10px;
  &__label {
    font-size: 24px;
    font-weight: 700;
    color: white;
  }
  &__icon {
    width: 50px;
    cursor: pointer;
    color: white;

  }
}
